@charset "UTF-8";

/*
body {
	background-image: url(/static/images/panasta.jpg);
	background-color:rgba(255,255,255,0.1);
  background-blend-mode:lighten;
	}
*/



.box {
	  margin     : auto;
}

.box .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 35s infinite;   /* 4画像 × 各5s = 20s */
}

.box .src1 {
  background-image : url(/static/images/panasta.jpg); /* 背景の画像を指定 */
	background-size: 100% auto;  /* 100%で背景を画面にフルで表示 */
}
.box .src2 {
  background-image : url(/static/images/nagoya.png);
	background-size: 100% auto;   /* 背景の画像を指定 */
  animation-delay  : 7s;
}
.box .src3 {
  background-image : url(/static/images/omiya.jpeg);
	background-size: 100% auto;
  animation-delay  : 14s;
}
.box .src4 {
  background-image : url(/static/images/FM.jpeg);
	background-size: 100% auto;
  animation-delay  : 21s;
}
.box .src5 {
  background-image : url(/static/images/kobe.jpg);
	background-size: 100% auto;
  animation-delay  : 28s;
}
/*
.box .src4 {
	background-image : url(/static/images/tokyo.png);
	background-size: 100% auto;
  animation-delay  : 5s;
} */

@keyframes bgAnime {
   0% { opacity: 0; }
	 5% { opacity: 1; }
   17% { opacity: 1; }
  23% { opacity: 0; }
 100% { opacity: 0; }
}

	/* 領域の透過 ;*/
h1 {
  color:#FFFFFF;
	right: 1em;
  font-size: 3em;
	background:#fff;
	background: rgba(0,0,0,0.5);
	display:inline-block
}

p {
    color:#FFFFFF;
    font-size: 1.5em;
		background:#fff;
		background: rgba(0,0,0,0.6);
		display:inline-block
}

.h_position{
	position: relative;
	top: 25px;
	left: 20px;
}

header{
  z-index: 3;
	position: fixed;
  background-color: #333;
  width: 100%;
	height: 45px;
	text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}


ul {
　　overflow:hidden;
　　list-style:none;
　　z-index: 20;
}

ul li {
  display: inline-block;
}


a {
  color: #fff;
　text-transform: uppercase;
}

button{
    appearance: none;
    margin: 20px;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
}

button {
    position: relative;
    display: block;
    padding: 1em 2em 1em 1em;
    width: 175px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 1;
    background: #5bbee5;
    background: linear-gradient(to right, #5bbee5, #52ddae);
    text-indent: 0.1em;
    letter-spacing: 0.1em;
    border-radius: 1.5em;
}

button:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.5em;
    margin: auto;
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    transform: rotate(45deg);
    transition: right 0.5s;
}

button:hover:after{
    right: 1em;
}

select{
    width:22.5%;
    padding:1em 1em;
    box-sizing:border-box;
    font-size:1em;
    border:#ccc 2.5px solid;
    border-radius:10px;
    background:#fff;
    }

    .color.select::after{
    content:"";
    display:block;
    width:10px;
    height:10px;
    position:absolute;
    right:5%;
    top:35%;
    border-bottom:#333 2px solid;
    border-right:#333 2px solid;
    transform:rotate(45deg)translateY(-30%);
    }

    .selectbox {
    width:90%;
    margin:1em auto;
    position:relative;
    }

    .selectbox::after{
    content:"";
    display:block;
    width:10px;
    height:10px;
    position:absolute;
    right:5%;
    top:35%;
    border-bottom:#333 2px solid;
    border-right:#333 2px solid;
    transform:rotate(45deg)translateY(-30%);
    }

    .color.selectbox select{
    background:blue;
    color:#fff;
    border-radius:2em;
    }

    .color.selectbox::after{
    border-bottom:#fff 5px solid;
    border-right:#fff 5px solid;
    }
