<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<script language="JavaScript"><!--
function setTF(fObj,vType)
{
	fObj.style.visibility = vType;
}
// --></script>

<body>
    <h1>{{title}}</h1>
    <div class="selectbox">
        <form method="post">
            <p>{{message[0]}}</p>
            <br>
            <select name="hometeam">
                <option value="" hidden>Select</option>
                {% for hometeam in teams %}
                    <option value="{{ hometeam }}">{{ hometeam }}</option>
                {% endfor %}
            </select>
            <br>
            <p>{{message[1]}}</p>
            <br>
            <select name="awayteam">
                <option value="" hidden>Select</option>
                {% for awayteam in teams %}
                    <option value="{{ awayteam }}">{{ awayteam }}</option>
                {% endfor %}
            </select>
            <br>
            <p>{{message[2]}}</p>
            <br>
            <select name="pred_class">
                <option value="" hidden>Select</option>
                {% for class in predict_class %}
                    <option value="{{ class }}">{{ class }}</option>
                {% endfor %}
            </select>

            <p></p>
            <button class="button", type="submit", value="team,predict_class">Predict</button>
            <button class="button", formaction="http://127.0.0.1:5000/result">Show result</button>
        </form>
    </div>
</body>
</html>





